.card-header.display-message {align-items: center;width: 100%;}
.display-message .alert {width: 100%;}
.pac-container {z-index: 999999;}
/*.multistepform_venue .amenities-tab .icn img {width: 24px;height: 24px;}*/
.venue-lists .icn.ms-3 {
    width: 24px;
    height: 24px;
}
.venue-lists .icn.ms-3 img {
    width: 100%;
    height: auto;
}